@import "xBrowser";

// Shadows
@drop_shadow_light: 0px 1px 2px rgba(0,0,0,0.7);
@drop_shadow_light_inset: inset @drop_shadow_light;

@drop_shadow_lighter: 0px 2px 3px rgba(0,0,0,0.5);
@drop_shadow_lighter_inset: inset @drop_shadow_lighter;

@small_radius: 3px;

// Fonts
.font_title {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 100;

	text-transform: uppercase;
}

.font_copy {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 100;
}

.font_mono {
	font-family: 'anonymous-pro', monospace;
}

.font_icon {
	font-family: 'icomoon';
	font-weight: 100;
}

// theme
@ma_blue: #08c;
@ma_green: #38a205;
@ma_red: #cc432f;
@ma_orange: #d36707;
@ma_yellow: #f1d859;

@white: #fff;
@near_white: #eee;
@near_black: #282828;
@grey_lighter: #bbb;
@grey_light: #999;
@grey_dark: #555;

// Sizes
@content_width: 960px;
@gutter: 30px;
@inner_gutter: @gutter/2;

@z_index_max: 2147483647;
