<!DOCTYPE html>
<html lang="en" ng-app="matersApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html;content charset=utf-8" />
		<title>Maters</title>

		<!-- Icons-->
<!-- 		<link href="/icons/style.css" media="screen" rel="stylesheet" type="text/css" /> -->

		<!-- Style-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<link href="/less/main.less" rel="stylesheet/less" type="text/css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>

		<!-- Libs-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar-full.min.js"></script>

		<!-- JS-->
		<script src="/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script src="/brewed_coffee/seedData.js"></script>
		<script src="/brewed_coffee/main.js"></script>
	</head>
	<body ng-controller="AppController">
		<div class="app_section">
			<div class="sidebar list" ng-controller="MatterListController">
				<label>
					<input
						type="checkbox"
						ng-model="selectAll"
						>
					Select All
				</label>
				<h1
					ng-repeat-start="client in clients | filter:clientFilterText"
					>

					{{ client.client_name }}</h1>
				<div
					class="item matter"
					ng-click="state.activeMatter = matter"
					ng-repeat="matter in client.matters | filter:{status:stateFilter} | filter:keywordFilterText"
					>

					{{ matter.number }}
					<p class="closed" ng-if="matter.status == 'closed'">Closed</p>
					<p>{{ matter.description }}</p>
					<input type="checkbox" ng-model="matter.selected" ng-click="$event.stopPropagation()">
					<span class="dropdown">
						<a class="actions" dropdown-toggle href ng-click="$event.stopPropagation()"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
									href
									dropdown-toggle
									ng-show="matter.status == 'open'"
									ng-click="closeMatter(matter, $event)"
									>Close Matter</a></li>
							<li><a
									href
									dropdown-toggle
									ng-show="matter.status == 'closed'"
									ng-click="openMatter(matter, $event)"
									>Re-Open Matter</a></li>
							<li><a
									href
									ng-click="deleteMatter(matter, $event)"
									>Delete Matter</a></li>
						</ul>
					</span>
				</div>
				<div class="empty" ng-repeat-end>No Matches</div>
			</div>
			<div class="matter_view">
				<h1>
					{{ state.activeMatter.number }}
					<strike
						ng-if="state.activeMatter.status == 'closed'"
						>
						Closed
					</strike>
				</h1>
				<p>
					{{ state.activeMatter.description }}
				</p>
			</div>
		</div>

		<div class="header_view">
			<div class="logo">Matters</div>
			<input type="text" placeholder="Filter by client…" ng-model="clientFilterText">
			<input type="text" placeholder="Filter by text…" ng-model="keywordFilterText">
			<label><input type="checkbox" ng-model="hideClosed"> Hide Closed</label>
		</div>
	</body>
</html>